@model Yahtzee.Model.Data.Combinations

@{
    ViewData["Title"] = "Home Page";
}

<script>
    function GetIconClass(result) {
        var iconClass = 'fa-dice-';
        switch (result) {
            case 1:
                return iconClass + 'one';
            case 2:
                return iconClass + 'two';
            case 3:
                return iconClass + 'three';
            case 4:
                return iconClass + 'four';
            case 5:
                return iconClass + 'five';
            case 6:
                return iconClass + 'six';
        }
    }
</script>

<div class="text-center">
    <button id="btnRollDice">Roll Dice</button>
    <button id="btnReset">Reset Game</button>
</div>
<table>
    <tr id="result">

    </tr>
    <tr id="keep">

    </tr>
</table>
<script>
    var combinations = [];
</script>
<table border="1">
    @{ int i = 0; } 
    @foreach (var combination in Model.CombinationsList)
    {
        <text>
            <tr>
                <td>
                    @combination.Type.ToString()
                </td>
                <td>
                    @combination.Result
                </td>
                <td id="td@(combination.Type)">
                    <script>
                        combinations[@i] = '@combination.Type';
                    </script>
                    <button id="@combination.Type" onclick="AddCombination(this.id)" hidden="@(combination.Dice != null)">Place</button>
                    @if(combination.Dice != null)
                    {
                        foreach(var die in combination.Dice)
                        {
                            <text>
                                <script>
                                    $('#td@(combination.Type)').append($('<span>')
                                        .addClass('fa')
                                        .addClass(GetIconClass(@die.Result)));
                                </script>
                            </text>
                        }
                    }
                </td>
            </tr>
        </text>
        i++;
    }
    <tr>
        <td>Result1</td>
        <td>@(Model.Total1)</td>
    </tr>
    <tr>
        <td>Bonus</td>
        <td>@(Model.Bonus)</td>
    </tr>
    <tr>
        <td>Total1 + Bonus</td>
        <td>@(Model.Bonus + Model.Total1)</td>
    </tr>
    <tr>
        <td>Total2</td>
        <td>@(Model.Total2)</td>
    </tr>
    <tr>
        <td>GrandTotal</td>
        <td>@(Model.GrandTotal)</td>
    </tr>
</table>

<div >
</div>

<script>
    var dice = [];
    var rerollCount = 0;

    $(function () {
        $("#btnRollDice")
            .click(function () {

                var checkboxes = $('.reroll');

                var dieRerollCount = 0;

                rerollCount++;
                if (rerollCount > 3) {
                    return;
                }

                if (dice.length === 0) {
                    dieRerollCount = 5;
                }
                else {
                    for (var i = 0; i < checkboxes.length; i++) {
                        var check = $(checkboxes[i]);
                        if (check.is(':checked')) {
                            dieRerollCount++;
                            dice[i] = null;
                        }
                    }
                }

                $.get('@Url.Action("RollDice")?diceCount=' + dieRerollCount, function (data) {
                    $('#result').empty();
                    $('#keep').empty();
                    $.each(data, function (i, die) {
                        for (var j = 0; j < 5; j++) {
                            if (!dice[j]) {
                                dice[j] = die;
                                break;
                            }
                        }
                    }, 'json');

                    $.each(dice, function (i, die) {
                        $("#result")
                            .append($('<td>')
                                .append($('<h1>')
                                    .addClass('fa')
                                    .addClass(GetIconClass(die.Result))));
                        $("#keep")
                            .append($('<td>')
                                .css('text-align', 'center')
                                .append($('<input>')
                                    .attr('type', 'checkbox')
                                    .attr('name', 'dice' + (i + 1))
                                    .attr('id', 'dice' + (i + 1))
                                    .attr('class', 'reroll')));
                    });
            });
        });

        $('#btnReset').click(function () {

            AjaxFunctions.ajaxPost('@Url.Action("Reset")', null, function () {
            window.location = '@Url.Action("Index")';
        });
        });
    });

    function AddCombination(type) {
        AjaxFunctions.ajaxPost('@Url.Action("AddCombination")?type=' + type, { dice }, function () {
            window.location = '@Url.Action("Index")';
        });
    }
</script>
